# Coretsia Framework (Monorepo)
#
# Project: Coretsia Framework (Monorepo)
# Authors: Vladyslav Mudrichenko and contributors
# Copyright (c) 2026 Vladyslav Mudrichenko
#
# SPDX-FileCopyrightText: 2026 Vladyslav Mudrichenko
# SPDX-License-Identifier: Apache-2.0
#
# For contributors list, see git history.
# See LICENSE and NOTICE in the project root for full license information.

parameters:
    level: 5
    phpVersion: 80400

    paths:
        - ../../packages
        - ../../tools/build
        - ../../tools/gates
        - ../../tools/testing

    bootstrapFiles:
        - ../support/bootstrap.php

    tmpDir: ../../var/phpstan

    fileExtensions:
        - php

    excludePaths:
        analyseAndScan:
            - ../../vendor
            - ../../var

            - ../../packages/*/*/vendor
            - ../../packages/*/*/vendor/*
            - ../../packages/*/*/var
            - ../../packages/*/*/var/*
            - ../../packages/*/*/tests
            - ../../packages/*/*/tests/*
            - ../../packages/*/*/tests/fixtures
            - ../../packages/*/*/tests/fixtures/*

            - ../../tools/tests
            - ../../tools/tests/*
            - ../../tools/*/fixtures
            - ../../tools/*/fixtures/*

    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: true
